* {
   margin :0;
   padding :0;
   box-sizing: border-box;
}
html,
body , #root{
   height: 100%;
   width: 100%;
}

html{
  background-color: rgb(41, 40, 40);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.notes{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}
.note{
  background-color: rgb(57, 66, 66);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 15rem;
  color: rgb(192, 192, 192);
}