* {
   margin :0;
   padding :0;
   box-sizing: border-box;
}
html,
body,
#root {
   height: 100%;
   width: 100%;
}

html{
background-color: rgb(49, 49, 49);
color: white;
}


.frame{
  border: 2px solid white;
  width: 100%;
  border-radius: 2rem;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding: 1rem;
}
.note{
  background-color: rgb(24, 24, 24);
  padding: 1rem;
  margin: 1rem;
  border-radius: .5rem;
  max-width: 15rem;
}


.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: .5rem;

}
.buttons button{
  padding: .5rem;
  border-radius: .5rem;
  border: none;
  background-color: rgb(135, 135, 135);
  color: white;
}
.employee-add-form{
  display: flex;
  gap: .5rem;
  padding: 1rem;
}

.employee-add-form input{
  padding: .5rem;
  border-radius: .5rem;
  border: none;
}

.employee-add-form button{
  padding: .5rem;
  border-radius: .5rem;
  border: none;
  background-color: rgb(24, 24, 24);
  color: white;
}